body {
  margin: 0;
  padding: 0;
  background-image: url(../../assets/imgs/wine-g9d9b7fd4f_1920.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-attachment: fixed;
  overflow: hidden;
}

button a {
  text-decoration: none;
}

/* Style for terms and conditions */
.s-tyc {
  color: rgba(0, 0, 0, 0.625);
  font-weight: 600;
  font-style: italic;
  font-size: 14px;
}

.main-container {
  min-height: 80vh;
}

#container {
  min-height: 60vh;
  max-width: 80vh;
  max-height: 85vh;
  padding: 8vh 6vh;
  border-radius: 1vh;
}

.filter {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 254, 254, 0.677);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.759);
}

.title {
  font-size: 6vh;
  margin: 0;
}

.form-control {
  border-radius: 2px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 2.5vh;
}

#container-animation {
  margin-top: 2vh;
  background-color: var(--colorSecondary);
  padding: 1vh;
  border-radius: 5vh;
  overflow: hidden; /* Evitar que la sombra se desborde fuera del contenedor */
  transition: transform 1s ease;
}

#container-animation :hover {
    transform: scale(1.1);

}
