.btnFirst,.btnMiddle{
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.btnLast,.btnMiddle{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.btnLast,.btnFirst,.btnMiddle{
  border:solid 2px var(--colorPrimary) !important;
}