.modal-bg{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.5);
  /* blur the bg */
  backdrop-filter: blur(2px);
}

.modal-window{
  /* display it att the center of the page above everthing */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9998;



  color: var(--colorPrimary);
  text-align: center;

  min-height: 80vw;
  max-height: 83vh;
  width: 80vw;

  padding: 2em 0.6em  ;

  background: var(--colorTertiary);
  border-radius: 0.5em;
  border: var(--colorPrimary) solid 2px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.modal-window.show {
  opacity: 1;
}

.modal-window .btn{
  margin-bottom: 0.4em;
  padding-top: 0.1em ;
  padding-bottom: 0.1em ;
  max-height: 7vh;
  height: 5vh;
}

.modal-window .children{
  overflow: auto;
  overflow-x: hidden;
  min-width: 100%;
  /* width: 100%; */
  height: 100%;
}

.modal-window select{
  min-width: 100%;
  padding: 0;
}
.modal-window input[type="checkbox"]{
  min-width: 1.2em;
  min-height: 1.2em;
  border: solid 1px var(--colorPrimary);
}
.modal-window input[type="checkbox"]:focus{
  /* delete the boxshadown */
  box-shadow: none !important;
}

