:root{
  --colorPrimary:#460126;
  --colorSecondary:#E9C5D2;
  --colorTertiary:#FCF8F4;
}

.navbar{
  background-color: var(--colorSecondary);
  position: sticky;
  top: 0;
}
.nav-link{
  width: 10vw;
  max-width: 20vh;
}
.navbar-toggler{
  width: 3em;
  /* max-width: 20vh; */
}

.memorable-title {
  font-size: 6vh;
}