.main-lp{
  background: url("../../assets/imgs/wineAndFlowerbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
 
  color:var(--colorTertiary);
  min-height: 100vh;
}

.title-lp {
  font-size: 10vh; 
}

.a-lp{
  transition: all 0.2s ease-in-out !important;
  width: 80vw;
  max-width: 30vh;
}