:root {

  --colorPrimary:#460126;
  --colorSecondary:#E9C5D2;
  --colorSecondaryHover:#dbaabb;
  --colorTertiary:#FCF8F4;

  /* re declarement of the bootstrap variables */

  --bs-nav-tabs-link-active-bg:var(--colorTertiary);

  --bs-btn-hover-bg:var(--colorSecondaryHover);
  --bs-btn-hover-color:var(--colorPrimary)


}


body{
  background-color:var(--colorTertiary);
}

/* redeclarement of bootstrap classes */

.btn {
  --bs-btn-color: var(--colorPrimary) !important;
  --bs-btn-bg: var(--colorSecondary) !important;
  border-radius: 9999px !important;
}