:root {

  --colorPrimary:#460126;
  --colorSecondary:#E9C5D2;
  --colorSecondaryHover:#dbaabb;
  --colorTertiary:#FCF8F4;

  /* re declarement of the bootstrap variables */

  --bs-nav-tabs-link-active-bg:var(--colorTertiary);

  --bs-btn-hover-bg:var(--colorSecondaryHover);
  --bs-btn-hover-color:var(--colorPrimary)


}


body,#root{
  min-height: 100vh;
}

/* redeclarement of bootstrap classes */

.btn {
  --bs-btn-color: var(--colorPrimary) !important;
  --bs-btn-bg: var(--colorSecondary) !important;
  border-radius: 9999px !important;
}
.btn-white{
  --bs-btn-color: var(--colorPrimary) !important;
  --bs-btn-bg: var(--colorTertiary) !important;
  border: 2px solid ;
  border-color: var(--colorPrimary) !important;
}
/* add a transition to de buttons */
.btn:hover{
  transition: 0.1s;
  --bs-btn-color: var(--colorPrimary) !important;
  --bs-btn-bg: var(--colorSecondaryHover) !important;
  border: 1px solid ;
  border-color: var(--colorPrimary) !important;
}