

:root {

  --colorPrimary:#460126;
  --colorSecondary:#E9C5D2;
  --colorSecondaryHover:#dbaabb;
  --colorTertiary:#FCF8F4;

  /* re declarement of the bootstrap variables */

  --bs-nav-tabs-link-active-bg:var(--colorTertiary);

  --bs-btn-hover-bg:var(--colorSecondaryHover);
  --bs-btn-hover-color:var(--colorPrimary)

  --bs-accordion-btn-focus-border-color:var(--colorPrimary)

}
.accordion{
  --bs-accordion-active-color:var(--colorPrimary) !important;
  --bs-accordion-active-bg:var(--colorTertiary) !important;
  --bs-accordion-button-focus-color:var(--colorPrimary) !important;
  --bs-accordion-btn-focus-border-color:var(--colorSecondaryHover) !important;
}
.accordion-item{
  --bs-accordion-btn-focus-box-shadow:var(--colorSecondaryHover) !important;
}




body,#root{
  height: 100vh;
}

/* redeclarement of bootstrap classes */

.btn {
  --bs-btn-color: var(--colorPrimary) !important;
  --bs-btn-bg: var(--colorSecondary) !important;
  border-radius: 9999px !important;
}
.btn-white{
  --bs-btn-color: var(--colorPrimary) !important;
  --bs-btn-bg: var(--colorTertiary) !important;
  border: 2px solid ;
  border-color: var(--colorPrimary) !important;
}
.btn-dark{
  --bs-btn-color: var(--colorTertiary) !important;
  --bs-btn-bg: var(--colorPrimary) !important;
  border: 2px solid ;
  border-color: var(--colorPrimary) !important;
}
/* add a transition to de buttons */
.btn:hover{
  transition: 0.1s;
  --bs-btn-color: var(--colorPrimary) !important;
  --bs-btn-bg: var(--colorSecondaryHover) !important;
  --bs-btn-hover-bg:var(--colorSecondaryHover) !important;
  border: 1px solid ;
  border-color: var(--colorPrimary) !important;
}

img{
  border:solid 2px var(--colorPrimary) !important;
  padding: 0.2em !important;
}

input:focus,select:focus,textarea:focus{
  box-shadow: 1px 1px 3px 1px  var(--colorSecondary) !important;
  border: 1px solid var(--colorPrimary) !important;
}
input{
  border: 1px solid var(--colorPrimary) !important;
}

hr{
  border: 2px solid var(--colorPrimary) !important;
  width: 95% !important;
}

/* make inputs like a btn */